name: "Test charts"

on:
  push:
    paths:
      - Makefile
      - 'charts/**'
      - 'test/**'
      - '!charts/*/lint/**'
      - '!**/*.md.gotmpl'
      - '!**/*.md'
      - '.github/workflows/run-testing.yaml'
    branches:
      - master
  pull_request:
    paths:
      - Makefile
      - 'charts/**'
      - 'test/**'
      - '!charts/*/lint/**'
      - '!**/*.md.gotmpl'
      - '!**/*.md'
      - '.github/workflows/run-testing.yaml'
    branches:
      - master

env:
  HELM_VERSION: 3.17.4

jobs:
  chart-tests:
    name: Run chart tests
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
      checks: write
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        k8s_version: ["v1.31.12", "v1.32.8", "v1.33.4"]
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Restore binaries from cache
        uses: actions/cache/restore@v4
        with:
          path: ./bin
          key: binary

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "test/go.mod"
          check-latest: true
          cache: true
        id: go

      - name: Create Kind cluster
        uses: helm/kind-action@v1
        with:
          node_image: kindest/node:${{ matrix.k8s_version }}

      - name: Test in kind
        run: |
          yq -M eval '.repositories[] | (.name + " " + .url)' .github/ci/helm-repos.yaml | xargs -L 1 helm repo add
          cd test && go test ./...

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          report_paths: 'report.xml'

      - name: Prepare binary cache
        uses: actions/cache@v4
        with:
          path: ./bin
          key: binary
